* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-color: #303030;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	background-color: #202020;
	padding: 16px 0;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

header nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.3s;
	padding: 14px 28px;
}

header nav a:hover {
	background-color: #9F71FF;
	border-radius: 20px;
}

header nav .icon {
	display: none;
}


.hero {
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-color: #303030;
	overflow: hidden;
}

.hero h1 {
	font-size: 48px;
	margin-bottom: 32px;
	animation: slideFromLeft 1s ease-in-out forwards;
}

.hero p {
	font-size: 26px;
	margin-bottom: 60px;
	animation: slideFromLeft 1.2s ease-in-out forwards;
}

.hero .btn {
	display: inline-block;
	padding: 14px 52px;
	color: #fff;
	background-color: #333;
	border: 2px solid #9F71FF;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.25s;
	text-decoration: none;
	background-image: linear-gradient(to left, #9F71FF 0%, #9F71FF 0%);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 0% 100%;
	animation: slideFromLeft 1.5s ease-in-out forwards;
}
  
.hero .btn:hover {
	background-size: 100% 100%;
}


.about {
    background-color: #383838;
    padding: 50px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-image {
    flex: 0 0 40%;
    text-align: center;
}

.about-image img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
	padding: 20px;
}

.about-text {
    flex: 0 0 60%;
    margin-top: 20px;
    padding-left: 60px;
}

.about h2 {
    font-size: 44px;
    margin-bottom: 10px;
}

.about h4 {
    font-size: 24px;
    margin-bottom: 30px;

}

.about p {
    font-size: 18px;
    line-height: 2.0;
}


.projects {
	padding: 100px 0;
}

.projects h2 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}

.project {
    position: relative;
    margin-bottom: 50px;
}
  
.project h3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50%;
    margin: 20px 0 10px 0;
    padding-bottom: 10px;
}

.project-description {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}
  
.project-description img,
.project-description p {
    width: 50%;
}
  
.project p {
	font-size: 16px;
	line-height: 1.5;
    margin-top: 60px;
    margin-right: 50px;
    text-align: justify;
}


.contact {
	padding: 100px 0;
	background-color: #222;
}

.contact h2 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}

.contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.contact form input,
.contact form textarea {
	width: 50%;
	padding: 15px;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	margin-bottom: 20px;
}

.contact form textarea {
	height: 200px;
	resize: none;
}

.contact form button {
	padding: 15px 30px;
	color: #fff;
	background-color: #333;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s;
}

.contact form button:hover {
	background-color: #444;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links a {
	color: #fff;
	font-size: 36px;
	margin: 0 10px;
	transition: all 0.3s;
}

.social-links a:hover {
	color: #eee;
}

footer {
	padding: 20px 0;
	background-color: #111;
	text-align: center;
}

footer p {
	font-size: 14px;
	color: #999;
}


@media (max-width: 720px){
	header nav {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	  }
	  
	header nav a {
		padding: 10px 20px;
		width: 100%;
		padding: 16px;
		margin-bottom: 10px;
	}

	header nav a.icon {
		float: right;
    	display: block;
		position: absolute;
    	
	}
}

@media (max-width: 1080px) {
	.hero h1 {
		font-size: 44px;
	}
	  
	.hero p {
		font-size: 18px;
		margin-bottom: 40px;
	}
	  
	.hero .btn {
		padding: 10px 40px;
		font-size: 16px;
	}

    .about-content {
        flex-direction: column;
    	text-align: center;
    }

    .about-image,
    .about-text {
        flex: 100%;
    }

	.about-image img {
        margin-bottom: 30px;
        max-width: 400px;
    }

    .about-image img {
        margin-bottom: 30px;
    }

    .about-text {
        margin-top: 0;
        padding-left: 0;
    }
}

@keyframes slideFromLeft {
	0% {
	  transform: translateX(-100%); /* Start position outside the screen */
	  opacity: 0; /* Initially hidden */
	}
	100% {
	  transform: translateX(0); /* End position at original location */
	  opacity: 1; /* Fully visible */
	}
}
