* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	/* background-image: linear-gradient(#202020, #20202060); */
	background-color: #333;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	background-color: #202020;
	padding: 20px 0;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

header nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.3s;
	padding: 14px 28px;
}

header nav a:hover {
	background-color: #9F71FF;
	border-radius: 20px;
}



.hero {
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.hero p {
	font-size: 24px;
	margin-bottom: 40px;
}

.hero .btn {
	display: inline-block;
	padding: 16px 32px;
	color: #fff;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 14px;
	background-color: #333;
}

.hero .btn:hover {
	background-color: #9F71FF;
}

.about {
	padding: 100px 0;
	/* background-color: #202020; */
}

.about h2 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}

.about p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 50px;
}

.projects {
	padding: 100px 0;
}

.projects h2 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}

.project {
    position: relative;
    margin-bottom: 50px;
}
  
.project h3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50%;
    margin: 20px 0 10px 0;
    padding-bottom: 10px;
}

  
.project-description {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}
  
.project-description img,
.project-description p {
    width: 50%;
}
  
.project p {
	font-size: 16px;
	line-height: 1.5;
    margin-top: 60px;
    margin-right: 50px;
    text-align: justify;
}

.contact {
	padding: 100px 0;
	background-color: #222;
}

.contact h2 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}

.contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.contact form input,
.contact form textarea {
	width: 50%;
	padding: 15px;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	margin-bottom: 20px;
}

.contact form textarea {
	height: 200px;
	resize: none;
}

.contact form button {
	padding: 15px 30px;
	color: #fff;
	background-color: #333;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.3s;
}

.contact form button:hover {
	background-color: #444;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links a {
	color: #fff;
	font-size: 36px;
	margin: 0 10px;
	transition: all 0.3s;
}

.social-links a:hover {
	color: #eee;
}

footer {
	padding: 20px 0;
	background-color: #111;
	text-align: center;
}

footer p {
	font-size: 14px;
	color: #999;
}